.section-title {
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

hr {
  height: 0;
  width: 100%;
  margin: 0;
  border: 1px solid var(--black);
}

.hero {
  margin: 20px 20px 50px 20px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: auto;
  max-width: 1280px;
}

.hero-title__primary {
  font-size: 2rem;
  font-size: clamp(2rem, 1.5rem + 2.2222vw, 3rem);
  font-weight: 700;
}

.hero-title__secondary {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.2rem + 1.3333vw, 2rem);
  font-weight: 600;
}

.hero-desc {
  font-size: 1rem;
  font-size: clamp(1rem, 0.85rem + 0.6667vw, 1.25rem);
  display: flex;
  flex-direction: column;
}

.hero__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.hero-button {
  background-color: var(--background);
  color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  min-height: 40px;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 300ms ease, color 300ms ease;
}

.hero-button span {
  font-size: 1rem;
  font-weight: 700;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--white);
}

/* projects */
.project-list {
  margin: 20px 20px 50px 20px;
}

.project-list__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  max-width: 1280px;
}

.grid-wrapper {
  display: grid;
  gap: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  gap: 20px;
  width: 100%;
  padding: 20px;
  border: 2px solid var(--background);
  border-radius: 8px;
  overflow: hidden;
}

.project-image__container {
  display: flex;
  width: 100%;
}

.project-image__container img {
  height: 100%;
  width: 100%;
  pointer-events: none;
  object-fit: contain;
}

.project-info__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
}

.project-info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-info__heading {
  font-size: 1.5rem;
  font-weight: 700;
}

.project-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.project-links a {
  background-color: var(--background);
  color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  min-height: 40px;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 300ms ease, color 300ms ease;
}

.project-links span {
  font-size: 1rem;
  font-weight: bold;
}

.project-links a:hover,
.project-links a:focus {
  background-color: var(--white);
}

@media only screen and (min-width: 780px) {
  .hero {
    margin: 20px;
  }

  .hero__container {
    height: calc((100vh - 80px) - 20vh);
    max-height: 800px;
  }

  .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(0, 1fr);
  }
}

@media only screen and (min-width: 960px) {
  .grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(0, 1fr);
  }
}
